/* --MIXINIS --*/

@mixin police_style_title{
    font-family: 'Shrikhand', cursive;
}
@mixin police_style_p {
    font-family: 'Roboto', sans-serif;
}
@mixin logo_top{
    @include police_style_title;
    font-size: $fontsize;
   
}
@mixin search_bar{
    background-color: rgba(234,234,234,255);
    border: none;
    width: 100%;
    box-shadow: inset 0px 3px 5px #dbdbdb;
    height: 45px;
}
@mixin boxshadow {
    box-shadow: 4px 4px 10px lightgrey;
}
@mixin flatname{
    color: #7b7b7b;
    border-bottom: solid #99e2d0 4px;
    margin-left: 15px;
    margin-top: 20px;
    width: 40px;
    padding-bottom: 10px;
}

// -- VARIABLES --/*

$fontsize: 25px;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$footer_color: #353535;

// -- LOADER--/*


.section{
    background-color: #99E2D0;
    opacity: 0.9;
    line-height: 700px;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
}
.p_loader{
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #9356DC;
    text-align: center;
    font-family: 'Shrikhand';
}
.loader{
    width: 50px;
    height: 50px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #9356DC;
    animation: spin 1.5s linear 0s infinite;
}
.loader::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #9356DC;
    animation: spin 2s linear 0s infinite;
}
.loader::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #9356DC;
    transform: rotate(360deg);
    transition-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

.section {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


// -- --/*

body{
    margin: 0;
}

html{
        font-family: 'Roboto', sans-serif;
}
.logo_top{
    @include logo_top;
    text-align: center;
}

.arrow_top{
    position: absolute;
    margin-top: 11px;
    margin-left: 20px;
}
h2{
    @include logo_top;
    margin-left: 15px;
}
.background_menu{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #f6f6f6;
    margin-top: -37px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
}
.img_top{
    height: 260px;
    width: 100%;
    background-image: url(../Maquettes_Ohmyfood/images/restaurants/delice.jpg);
    background-size: cover;
}
.title_heart_top{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.heart_placement_top_pageone{
    height: 20px;
}
.name_flat{
    @include flatname;
}


/* -- HEART --*/

.product-container {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.product-img-box{
    position:relative; 
    visibility: visible; 
    width:30px;
    height:30px;
}

.overlay-box {
    visibility: hidden;
    position: absolute;     
    top: 0;     
    left: 0;     
    width: 100%;     
    height: 100%;
    transition: opacity 3s ease;
}
.hearts-off{
  visibility: visible;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.product-container:hover .overlay-box {
  animation: fadeIn 3s;
  visibility: visible;
  
}
.product-container:hover .hearts-off {
    animation: fadeOut 4s;
    stroke: transparent;
}


@keyframes fadeIn {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}

@keyframes fadeOut {
     from {
          opacity: 1;
     }

     to {
          opacity: 0;
     }
}

/* -- ANIMATION FLAT --*/

#flat1{
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
	animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
  }
  @keyframes flat1 {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
  }  
#flat2{
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.7s both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.7s both;
}
@keyframes flat2 {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
        }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        }
}

#flat3{
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.9s both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.9s both;
}

@keyframes flat3 {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
        }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        }
    }
    #flat4{
        -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.1s both;
        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.1s both;
    }
    
    @keyframes flat4 {
        0% {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
            opacity: 0;
            }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            }
        }
#flat5{
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.3s both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.3s both;
        }    
    @keyframes flat5 {
        0% {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
            opacity: 0;
            }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            }
    }
#flat6{
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.5s both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.5s both;
    }
    
@keyframes flat6 {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
            }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        }
    }
#flat7{
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.7s both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.7s both;
    }
    
@keyframes flat7 {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
        }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        }
    }
#flat8{
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.9s both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.9s both;
    }
        
@keyframes flat8 {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
        }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        }
    }
#flat9{
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4.1s both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4.1s both;
    }
        
@keyframes flat9 {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
        }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        }
    }
    
    
     /* -- ANIMATION SLIDE CHECK BLOCK -- */

     .check_icone {
        position: absolute;
        color: white;
        font-size: 30px;
        color: white;
        margin: 20px 0 0 25px;
      }
      .flat_card:hover .check_icone{
        animation: linear;
        animation-name: run;
        animation-duration: 0.5s;
      }
      .hovercacher{
        width: 40%;
        float:right;
        height: 69px;
    }
    @-webkit-keyframes run {
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
          
        }
    }
      
      
.container{
    margin-top: -32px;
    margin-right: -25px;
}
.container .hovercacher {
    width: 0px;
    height: 69px;
    margin-left: 25px;
    float: right;
    background-color: #99E2D0;
    transition: width 1s;
    border-radius: 0 15px 15px 0;
}
          
.flat_card:hover .container .hovercacher{
    width: 80px!important;
}

.flat_card{
    height: 50px;
    width: 95%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 0 10px 0;
    margin-top: 20px;
    overflow: hidden;
}

.disp_price{
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 15px;
}
.marg_p_flatcard{
    margin-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 75%;
    display: block;
    overflow: hidden;
}
.marg_h3_flatcard{
    margin: 0;
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    display: block;
    overflow: hidden;
}
.marg_price_flatcard{
    margin-top: 4px;
    margin-left: 80px;
}
footer{
    background-color: $footer_color;
    color: white;
}
.logo_bottom{
    font-size: 15px;
    font-family: 'Shrikhand';
    padding-top: 15px;
}
li{
    font-size: 14px;
    display: flex;
    margin-left: 25px;
    padding-bottom: 15px;
}
.padd_li{
    padding-right: 10px;
}
.link_mail{
    color: white;
    text-decoration: none;
}
.btn_head{
    font-weight: 400;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 35px;
    border: none;
    color: white;
    border-radius: 30px;
    background: linear-gradient(180deg, $secondary, $primary);
    height: 50px;
    width: 200px;
    box-shadow: 5px 5px 10px lightgrey;
        &:hover{
            background: rgba($secondary, 0.9);
            box-shadow:10px 10px 10px lightgray
        }
}
.section{
    background-color: #99E2D0;
    opacity: 0.9;   
    height: 100%;
    position : fixed; 
    z-index: 9999;
    top : 0px; 
    left : 0px;
    width : 100%;
}
.loader{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.loader{
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #9356DC;
    animation: spin 1.5s linear 0s infinite;
}
.loader::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #9356DC;
    animation: spin 2s linear 0s infinite;
}
.loader::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #9356DC;
    animation: spin 1s linear 0s infinite;
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
@media screen and (min-width: 1200px){
    .all_block{
        display: flex;
        justify-content: center;        
    }
    .flat_card{
        width: 350px;
        margin-right: 20px;
    }
}
